<content class="col-lg-8">
  <div class=" middle-col" data-width="790" style="width: 790px;">
    <h1>Mã trường Đại học, Học viện, Cao đẳng năm 2021</h1>
    <hr>
    <h2>Mã trường Đại học, Học viện, Cao đẳng năm 2021</h2>
    <p>Dưới đây là danh sách mã trường Đại học, Cao đẳng năm 2021 của toàn bộ các trường đại học, cao đẳng, trung học chuyên nghiệp, nghề trên toàn quốc. Trường Đại học và mã trường được sắp xếp theo các tỉnh, thành phố, và trên trình duyệt, bạn dùng tổ hợp phím <b>Ctrl + F</b> để tìm trường bạn muốn.</p>
    <table class="table table-bordered">
      <tbody><tr><th style="text-align:center;">Mã trường</th><th style="text-align:center;">Tên trường</th></tr>
      <tr><th colspan="2">Mã trường Đại học tại Hà Nội</th></tr>
      <%# @schools.each do |school| %> <%#= link_to school.code, admin_schools_path(school) %>
      <tr> <td></td> UTC<td><a href="../thong-tin-tuyen-sinh/hoc-vien-an-ninh-nhan-dan.jsp"><b style="color:blue;">Học viện An ninh Nhân dân</b></a></td></tr>
      <tr> <td>BKA	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-bach-khoa-ha-noi.jsp"><b style="color:blue;">Trường Đại học Bách Khoa Hà Nội</b></a></td></tr>
      <tr> <td>BPH	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-bien-phong.jsp"><b style="color:blue;">Học viện Biên phòng</b></a></td></tr>
      <%# end %>
      </tbody></table>
    <hr>
    <div class="bottomgooglead">
      <div class="bottomadtag">Bài viết liên quan</div><div>
      <ul class="list">
        <li><p><a href="https://vietjack.com/soan-van-lop-12/index.jsp">Soạn văn 12 (ngắn gọn, đầy đủ)</a></p></li>
        <li><p><a href="https://vietjack.com/tieng-anh-12/index.jsp">Giải bài tập Tiếng Anh 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-toan-lop-12/index.jsp">Giải bài tập Toán 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-hoa-lop-12/index.jsp">Giải bài tập Hóa học 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-bai-tap-vat-ly-12/index.jsp">Giải bài tập Vật Lý 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-bai-tap-sinh-hoc-12/index.jsp">Giải bài tập Sinh học 12</a></p></li>
        <li><p><a href="https://vietjack.com/ngu-phap-tieng-anh/index.jsp">160 bài học ngữ pháp tiếng Anh hay nhất</a></p></li>
        <li><p><a href="https://vietjack.com/bai-tap-ngu-phap-tieng-anh/index.jsp">160 bài tập ngữ pháp tiếng Anh hay nhất</a></p></li>
        <li><p><a href="https://vietjack.com/ngu-phap-tieng-anh-co-ban/index.jsp">72 bài ngữ pháp cơ bản</a></p></li>
        <li><p><a href="https://vietjack.com/tinh-huong-tieng-anh-thong-dung/index.jsp">50 tình huống tiếng Anh thông dụng</a></p></li>
        <li><p><a href="https://vietjack.com/part-5-toeic/index.jsp">120 bí kíp luyện phần V TOEIC</a></p></li>
      </ul>
    </div>

    </div>
  </div>

</content>
