<content class="col-lg-8">
  <div class=" middle-col" data-width="790" style="width: 790px;">

    <h1>Mã trường Đại học, Học viện, Cao đẳng năm 2021</h1>

    <hr>

    <h2>Mã trường Đại học, Học viện, Cao đẳng năm 2021</h2>
    <p>Dưới đây là danh sách mã trường Đại học, Cao đẳng năm 2021 của toàn bộ các trường đại học, cao đẳng, trung học chuyên nghiệp, nghề trên toàn quốc. Trường Đại học và mã trường được sắp xếp theo các tỉnh, thành phố, và trên trình duyệt, bạn dùng tổ hợp phím <b>Ctrl + F</b> để tìm trường bạn muốn.</p>
    <table class="table table-bordered">
      <tbody><tr><th style="text-align:center;">Mã trường</th><th style="text-align:center;">Tên trường</th></tr>
      <tr><th colspan="2">Mã trường Đại học tại Hà Nội</th></tr>
      <tr> <td>ANH	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-an-ninh-nhan-dan.jsp"><b style="color:blue;">Học viện An ninh Nhân dân</b></a></td></tr>
      <tr> <td>BKA	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-bach-khoa-ha-noi.jsp"><b style="color:blue;">Trường Đại học Bách Khoa Hà Nội</b></a></td></tr>
      <tr> <td>BPH	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-bien-phong.jsp"><b style="color:blue;">Học viện Biên phòng</b></a></td></tr>
      <tr> <td>BVH	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-cong-nghe-buu-chinh-vien-thong.jsp"><b style="color:blue;">Học viện Công nghệ Bưu chính Viễn thông</b></a></td></tr>
      <tr> <td>DNV	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-noi-vu-ha-noi.jsp"><b style="color:blue;">Trường Đại học Nội vụ Hà Nội</b></a></td></tr>
      <tr> <td>DPD	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-dan-lap-phuong-dong.jsp"><b style="color:blue;">Trường Đại học Dân lập Phương Đông</b></a></td></tr>
      <tr> <td>DQH	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-ky-thuat-quan-su.jsp"><b style="color:blue;">Học viện Kỹ thuật Quân sự (hệ Dân sự)</b></a></td></tr>
      <tr> <td>HNM	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-thu-do-ha-noi.jsp"><b style="color:blue;">Trường Đại học Thủ đô Hà Nội</b></a></td></tr>
      <tr> <td>HPN	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-phu-nu-viet-nam.jsp"><b style="color:blue;">Học viện Phụ nữ Việt Nam</b></a></td></tr>
      <tr> <td>HQT	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-ngoai-giao.jsp"><b style="color:blue;">Học viện Ngoại giao</b></a></td></tr>
      <tr> <td>HTA	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-toa-an.jsp"><b style="color:blue;">Học viện Toà án</b></a></td></tr>
      <tr> <td>HTC	</td> <td><a href="../thong-tin-tuyen-sinh/hoc-vien-tai-chinh.jsp"><b style="color:blue;">Học viện Tài chính</b></a></td></tr>
      <tr> <td>NTS	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-ngoai-thuong-co-so-phia-nam.jsp"><b style="color:blue;">Trường Đại học Ngoại thương - Cơ sở phía Nam</b></a></td></tr>
      <tr> <td>NTT	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-nguyen-tat-thanh.jsp"><b style="color:blue;">Trường Đại học Nguyễn Tất Thành</b></a></td></tr>
      <tr> <td>NVS	</td> <td><a href="../thong-tin-tuyen-sinh/nhac-vien-tp-ho-chi-minh.jsp"><b style="color:blue;">Nhạc viện Tp. Hồ Chí Minh</b></a></td></tr>
      <tr> <td>QSB	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-bach-khoa-dai-hoc-quoc-gia-tp-hcm.jsp"><b style="color:blue;">Trường Đại học Bách Khoa - Đại học Quốc gia TP.HCM</b></a></td></tr>
      <tr> <td>QSC	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-cong-nghe-thong-tin-dai-hoc-quoc-gia-tp-hcm.jsp"><b style="color:blue;">Trường Đại học Công nghệ Thông tin - Đại học Quốc gia TP.HCM</b></a></td></tr>
      <tr> <td>QSK	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-kinh-te-luat-dai-hoc-quoc-gia-tp-hcm.jsp"><b style="color:blue;">Trường Đại học Kinh tế - Luật - Đại học Quốc gia TP.HCM</b></a></td></tr>
      <tr> <td>QSQ	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-quoc-te-dai-hoc-quoc-gia-tp-hcm.jsp"><b style="color:blue;">Trường Đại học Quốc tế - Đại học Quốc gia TP.HCM</b></a></td></tr>
      <tr> <td>QST	</td> <td><a href="../thong-tin-tuyen-sinh/truong-dai-hoc-khoa-hoc-tu-nhien-dai-hoc-quoc-gia-tp-hcm.jsp"><b style="color:blue;">Trường Đại học Khoa học Tự nhiên - Đại học Quốc gia TP.HCM</b></a></td></tr>
      </tbody></table>

    <hr>
    <div class="bottomgooglead">
      <div class="bottomadtag">Bài viết liên quan</div><div>

      <ul class="list">
        <li><p><a href="https://vietjack.com/soan-van-lop-12/index.jsp">Soạn văn 12 (ngắn gọn, đầy đủ)</a></p></li>
        <li><p><a href="https://vietjack.com/tieng-anh-12/index.jsp">Giải bài tập Tiếng Anh 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-toan-lop-12/index.jsp">Giải bài tập Toán 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-hoa-lop-12/index.jsp">Giải bài tập Hóa học 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-bai-tap-vat-ly-12/index.jsp">Giải bài tập Vật Lý 12</a></p></li>
        <li><p><a href="https://vietjack.com/giai-bai-tap-sinh-hoc-12/index.jsp">Giải bài tập Sinh học 12</a></p></li>
        <li><p><a href="https://vietjack.com/ngu-phap-tieng-anh/index.jsp">160 bài học ngữ pháp tiếng Anh hay nhất</a></p></li>
        <li><p><a href="https://vietjack.com/bai-tap-ngu-phap-tieng-anh/index.jsp">160 bài tập ngữ pháp tiếng Anh hay nhất</a></p></li>
        <li><p><a href="https://vietjack.com/ngu-phap-tieng-anh-co-ban/index.jsp">72 bài ngữ pháp cơ bản</a></p></li>
        <li><p><a href="https://vietjack.com/tinh-huong-tieng-anh-thong-dung/index.jsp">50 tình huống tiếng Anh thông dụng</a></p></li>
        <li><p><a href="https://vietjack.com/part-5-toeic/index.jsp">120 bí kíp luyện phần V TOEIC</a></p></li>
      </ul>
    </div>

    </div>
  </div>

</content>
