<sidebar class="sidebar-left col-md-4">
  <ul class="nav nav-list primary left-menu ">
    <li class="heading">Thông tin tuyển sinh 2021</li>
    <li><a href="../thong-tin-tuyen-sinh/ma-truong-thpt.jsp">Mã tỉnh và Mã trường THPT đầy đủ</a></li>
    <li class="heading">Mã và thông tin trường Đại học, Học viện, Cao đẳng</li>
    <li class="heading">Các tỉnh, thành phố lớn</li>

    <li><a href="../thong-tin-tuyen-sinh/ma-truong-dai-hoc-tai-ha-noi.jsp">Hà Nội</a>
    </li><li><a href="../thong-tin-tuyen-sinh/ma-truong-dai-hoc-tai-tp-ho-chi-minh.jsp">Thành phố Hồ Chí Minh</a>
    <li><a href="../thong-tin-tuyen-sinh/ma-truong-dai-hoc-tai-dong-nai.jsp">Tỉnh Đồng Nai</a></li>
    <li><a href="../thong-tin-tuyen-sinh/ma-truong-dai-hoc-tai-binh-duong.jsp">Tỉnh Bình Dương</a></li>
    <li class="heading">Khu vực Miền Bắc</li>

    <li><a href="../thong-tin-tuyen-sinh/truong-cao-dang-su-pham-ha-giang.jsp">Tỉnh Hà Giang</a></li>
    <li><a href="../thong-tin-tuyen-sinh/truong-cao-dang-su-pham-cao-bang.jsp">Tỉnh Cao Bằng</a></li>
    <li><a href="../thong-tin-tuyen-sinh/truong-cao-dang-cong-dong-lai-chau.jsp">Tỉnh Lai Châu</a></li>

    <li class="heading">Khu vực Miền Trung</li>
    <li><a href="../thong-tin-tuyen-sinh/ma-truong-dai-hoc-tai-thanh-hoa.jsp">Tỉnh Thanh Hóa</a></li>
    <li><a href="../thong-tin-tuyen-sinh/ma-truong-dai-hoc-tai-nghe-an.jsp">Tỉnh Nghệ An</a></li>
    <li><a href="../thong-tin-tuyen-sinh/ma-truong-dai-hoc-tai-hau-giang.jsp">Tỉnh Hậu Giang</a></li>
  </ul>
</sidebar>

