<sidebar class=" sidebar-left col-md-4" xmlns="http://www.w3.org/1999/html">
    <h3 class="--f-s-large card-title dtm-title"><span>Thông tin trường theo tỉnh Thành</span></h3>
<!--    <div class="mb-2">-->
      <%# @schools.each do |school| %>
          <%#= link_to school.name, admin_schools_path(school) %>
      <%# end %>
<!--    </div>-->
    </br>
    <div class="mb-2">
      <a href="/bai-hoc/bai-36-vung-dong-bang-song-cuu-long-tiep-theo-c2599"><i class="fas fa-hand-point-right link-dtm"></i><span class="fa5-text">Thành Phố Hà Nội</span></a>
    </div>
    <div class="mb-2">
      <a href="/bai-hoc/bai-37-thuc-hanh-ve-va-phan-tich-bieu-do-ve-tinh-hinh-san-xuat-cua-nganh-thuy-san-o-dong-bang-song-cuu-long-c2599"><i class="fas fa-hand-point-right link-dtm"></i><span class="fa5-text">Thành Phố HCM</span></a>
    </div>
    <div class="mb-2">
      <a href="/bai-hoc/bai-38-phat-trien-tong-hop-kinh-te-va-bao-ve-tai-nguyen-moi-truong-bien-dao-c2599"><i class="fas fa-hand-point-right link-dtm"></i><span class="fa5-text">Thành Phố Đà Nẵng</span></a>
    </div>
    <div class="mb-2">
      <a href="/bai-hoc/bai-39-phat-trien-tong-hop-kinh-te-va-bao-ve-tai-nguyen-moi-truong-bien-dao-tiep-theo-c2599"><i class="fas fa-hand-point-right link-dtm"></i><span class="fa5-text">Thành Phố Thái Bình</span></a>
    </div>
</sidebar>

