<sidebar class=" sidebar-left col-md-4 sidebar-home">
  <h3 class="--f-s-large card-title dtm-title"><span>Thông tin trường theo tỉnh Thành</span></h3>
  </br>
  <% @provinces.each do |province| %>
    <div class="mb-2">
      <%= link_to province.name, admin_province_path(province), class: "fa5-text text-muted" %>
    </div>
  <% end %>
</sidebar>

