<content class="col-lg-8">
  <div class=" middle-col" data-width="790" style="width: 790px;">
    <h1>Thông tin các trường ĐH ở Thành Phố Hà Nội</h1>
    <hr>
    <p>Dưới đây là danh sách mã trường Đại học, Cao đẳng năm 2021 của toàn bộ các trường đại học, cao đẳng, trung học
      chuyên nghiệp, nghề trên toàn quốc. Trường Đại học và mã trường được sắp xếp theo các tỉnh, thành phố, và trên
      trình duyệt, bạn dùng tổ hợp phím <b>Ctrl + F</b> để tìm trường bạn muốn.</p>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th style="text-align:center;">Mã trường</th>
        <th style="text-align:center;">Tên trường</th>
      </tr>
      <tr>
        <th colspan="2">Mã trường Đại học tại Hà Nội</th>
      </tr>
        <tr>
          <td> UTC
          <td><a href="#"><b style="color:blue;">Học viện An ninh Nhân dân</b></a></td>
        </tr>
        <tr>
          <td>BKA</td>
          <td><a href="#"><b style="color:blue;">Trường Đại học
            Bách Khoa Hà Nội</b></a></td>
        </tr>
        <tr>
      <td>BPH</td>
      <td><a href="#"><b style="color:blue;">Học viện Biên phòng</b></a>
      </td>
      </tr>
      </tbody>
    </table>
    <hr>
  </div>
  </div>
</content>