<div class="d-flex container">
  <div class="col-md-3">
    <%= render 'shared/sidebar' %>
  </div>
  <content class="col-lg-8">
    <div>
      <p> Ký Hiệu : </p>
      <p>Loại Hình: </p>
      <p> Địa Chỉ : </p>
      <p>Website :</p>
      <p>Điện Thoại : </p>
      <p><b style="color:blue;">1. Đối tượng tuyển sinh</b></p>
      <div>2. Phạm Vi Tuyển Sinh :</div>
      <div>3. Phương Pháp Tuyển Sinh :</div>
      <div>4. Chỉ Tiêu Tuyển Sinh :</div>
      <div>5. Ngưỡng đảm bảo chất lượng đầu vào, điều kiện nhận ĐKXT :</div>
      <div>6. Các thông tin cần thiết khác để thí sinh ĐKXT vào các ngành của trường :</div>
      <div>7. Tổ Chức Tuyển Sinh :</div>
      <div>8. Chính Sách ưu tiên :</div>
      <div>9. Lệ Phí Xét Tuyển :</div>
      <div>10. Học Phí Dự Kiến :</div>
    </div>
  </content>
</div>

