<div class="d-flex container">
  <div class="col-md-3">
    <%= render 'shared/sidebar' %>
  </div>
  <content class="col-lg-8">
    <div>
      <p style="text-align:center; color:red;"><b><%= @schools.code %></b></p>
      <p>Địa chỉ:  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</p>
    </div>
  </content>
</div>

