// app/javascript/stylesheets/application.scss
//@import '~bootstrap/scss/bootstrap'
@import "theme";
//@import "font_awesome5";
@import 'trix/dist/trix.css';
@import 'toastr';

.navbar {
  margin-bottom: 0px;
}

.nav-home {
  list-style: none;
}

#header {
  border-bottom: 1px solid #dee2e6;
}
.sidebar-home {
  background: transparent;
}
.footer-page {
  margin-top: 40px;
}



